#newList, #selectCommander{
    position: absolute;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(85, 219, 243);
}

#selectCommander{
    margin-left: 80px;
}

#returnList, #returnCommander{
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgb(119, 119, 119);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(92, 92, 92);
    color: white;
    display: none;
    z-index: 2;
}

#returnList li, #returnCommander li{
    list-style-type: none;
}

#checking{
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 1.7em;
    color: white;
}

#listDetail > div{
    display: none;
    padding: 15px;
}

#titleCard{
    width: 250px;
    color: rgb(86, 191, 240);
    font-weight: bold;
    cursor: pointer;
}

.commanderList{
    cursor: pointer;
}

#atkToug{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#manaImg{
    position: absolute;
    top: 15px;
    right: 15px;
}

#cardType{
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

.listCard{
    display: none;
    width: 300px;
    min-height: 350px;
    background-color: rgb(214, 214, 214);
    position: absolute;
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgb(180, 180, 180);
    color: rgb(46, 46, 46);
    padding: 15px;
    z-index: 2;
}

.cardList{
    cursor: pointer;
}

.errorNoCard{
    color: rgb(119, 0, 0);
    font-weight: bold;
}

#cardText{
    position: relative;
    margin-top: 35px;
}

#nameCard{
    display: flex;
    padding: 0;
}

#completeList{
    position: relative;
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    right: 0;
    color: white;
}

.listDiv{
    width: 250px;
    display: none;
    list-style-type: none;
    padding: 20px;
}

.listDiv h1{
    font-size: 2em;
    font-weight: bold;
}

#deckName{
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin-left: 50px;
}

#titleSelectCommander{
    color: white;
    font-size: 2em;
    margin-top: 50px;
    margin-left: 30px;
}

#historicList{
    position: relative;
    margin-top: 150px;
    margin-left: 50px;
}

#confirmList img{
    width: 100px;
}

#confirmList, #linkPrint{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

#titleHistoric{
    color: white;
    margin-left: 25px;
    margin-top: 250px;
}

#historic li{
    font-size: 1.2em;
    color: rgb(185, 185, 185);
    list-style-type: none;
    cursor: pointer;
}

#linkPrint img{
    width: 50px;
    margin-left: -100px;
}

.inputNumberCards{
    width: 33px;
    background-color: transparent;
    border: none;
    outline: none;
}

.numbersSpan{
    font-size: 0.6em;
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
}

#infosMulti{
    display: none;
    position: absolute;
    background-color: rgb(32, 39, 49);
    color: white;
    border-radius: 7px;
    padding: 15px;
    z-index: 2;
    border: 1px solid white;
}

#closeInfosMulti{
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}
